<%# <form>
  <div class="form-group">
    <label for="guestEmailAddresses">Email addresses:</label>
    <textarea class="form-control" id="guestEmailAddresses" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send invitations</button>
</form> %>
<div class="container col-6 my-4">
  <div class='form-event-new'>
    <%= form_tag event_guests_path(@event), method: :post do %>
      <%= text_area_tag(:emails, nil, size: "70x5") %>
      <%# <%= text_field_tag(:emails, size: "70x5") %>
      <%= submit_tag "Send" %>
    <% end %>
  </div>
</div>
