.dashboard-container {
  margin-top: 0px !important;
  padding: 0px !important;
}

.dashboard-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dashboard-collapse {
  flew-grow: 1;
}

.dashboard-card {
  padding: 0;
  margin: 0;
}

.dashboard-card-header {
  padding: 5px;
}

.fa-list-alt,
.fa-glass-cheers,
.fa-comments {
  color: black;
}

.dashboard-collapse-title {
  font-size: 25px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.card-header {
  padding: 8px 20px;
}


.calendar-title {
font-weight: bold;
color: $bx-blue;
}

.day {
font-style: italic;
color: $bx-blue;
}


.modal-content {
  margin-top: 150px;
}
