<h1>Recommendations</h1>
<p>
  <strong>Hotel:</strong>
  <%# <% @hotel.each do |hotel| %>
    <%= @hotel.name %>
    <%# <% end %>
  </p>
  <p>
    <strong>Activities:</strong>
    <% @activity.each do |activity| %>
      <%= activity.name %>
    <% end %>
  </p>
