<h1 class="text-center my-3">Recommendations</h1>
<div class="recommendations-nav">
  <a class="btn-red m-5" href="#">New recommendation</a>
  <a class="btn-red m-5" href="#">Change theme recommendation</a>
  <%= button_to 'Choose this recommendation', confirm_recommendation_path(@event), method: :patch, class: "btn-blue m-5" %>
</div>
<%= render 'recommendation' %>