<div class="container-card">

  <div class="container-invit text-center">

    <div class="row">

      <div class="col-lg-6 my-4">
        <img src="https://images.unsplash.com/photo-1519214605650-76a613ee3245?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80" alt="" id="img-invite" class="col-4">
      </div>

      <div class="col-lg-6 invitation-form">
          <h1 class="">Invite your guests <i class="fas fa-glass-cheers" id="red-icon"></i> </h1>
          <%= render 'guests/invite-form' %>
      </div>

    </div>

  </div>

</div>
