<div class="container">

  <div class="container-card row summary-header text-center mb-3">
    <div class="col">
    <h2 class="content-center p-4 mb-2"> Take a moment to review the details of your event <i class="fas fa-pen-alt"></i> </h2>
    </div>
  </div>

  <div class="row d-flex align-items-center container-card mr-0">

    <div class="col-md-4">
      <h3 class="text-center py-4">Review your infos</h3>
      <%= render 'summary_card' %>
    </div>

     <div class="col-md-8">
        <%= render 'recommendation', recommendation: @event.recommendations.last %>
    </div>

  </div>

  <div class="container-card text-center row py-4 mt-3 mr-0">

        <div class="col-md-6 p-4">
          <%= link_to "MODIFY", edit_event_path(@event), class: "btn-blue mx-5" %>
        </div>
        <div class="col-md-6 p-4">
          <%= link_to "READY", confirm_event_path(@event), method: :patch, class: "btn-red mx-5" %>
        </div>
  </div>

</div>
