<div class="container">
    <div class="container-card mb-2">
    <h3 class="text-center p-4 mb-2"> Take a moment to review the details of your event <i class="fas fa-pen-alt"></i> </h3>
   </div>
  <div class="row">

    <div class="col-md-4">
      <%= render 'summary_card' %>
    </div>

     <div class="col-md-8">
        <%= render 'recommendation' %>
    </div>

  </div>
  <div class="container-card py-4">
    <div class="row">
      <%= link_to "Edit", edit_event_path(@event), class: "btn-red mx-5" %>
      <%= link_to "Confirm", confirm_event_path(@event), method: :patch, class: "btn-blue mx-5" %>
    </div>
  </div>

</div>
