<div class="sum-card text-center p-5 row">
  <h5 class="text-center mb-4">Take a moment to review the details of your event</h5>
  <%= render 'summary_card' %>
  <%= render 'recommendation' %>
  <div class="d-flex justify-content-center">
    <%= link_to "Edit", "#", class: "btn-red mx-5" %>
    <%= link_to "Confirm", confirm_event_path(@event), method: :patch, class: "btn-blue mx-5" %>
  </div>
</div>
