<h1> This is our compomants</h1>

<h1> Our title is in PlayFair ($headers-font) </h1>
<p> Our paragraph is in Poppins', ($body-font)  </p>

<a class="btn-dark-red" href="#">Button</a></div>
<a class="btn-blue" href="#">Button</a></div>
