<div class="text-center">
  <h1 class="text-center mb-5"> This is our compomants bottoms</h1>
  <a class="btn-red draw-border-red" href="#">btn-red draw-border-red</a>
  <br>
  <br>
  <br>
  <a class="btn-blue draw-border" href="#">btn-blue draw-border</a>
  <br>
  <br>
  <br>
  <a class="btn-gradient" href="#">btn-gradient</a>
  <br>
  <br>
  <br>
  <a class="btn draw-border" href="#">btn draw-border</a>
  <br>
  <br>
  <br>
</div>
