<h1 class="text-center mb-5"> This is our compomants</h1>

<h1 class="m-5"> Title -> PlayFair ($headers-font) </h1>
<p class="m-5"> Paragraph -> Poppins', ($body-font)  </p>

<a class="btn-red m-5" href="#">btn-red</a></div>
<a class="btn-blue m-5" href="#">btn-blue</a></div>
