
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(<%= asset_path 'bx-slider.jpg' %>)">
  <div class="container d-flex flex-column">
    <h1 class="text-center">Organize your  <strong>Bachelor(ette)</strong> Event!</h1>
   <p class="text-center"><strong>Easily plan</strong> an event and have <strong>unforgettable experience</strong> |</p>
    <div class="text-center mt-5"><a class="btn-red text-center" href="#">Apply now </a></div>
  </div>
</div>
