.show-body {
  background-image: linear-gradient(36deg, rgba(91,137,166,0.9) 5%, rgba(140,3,28,0.48923319327731096) 90%), url("https://images.unsplash.com/photo-1560987617-6de57e3d0574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2849&q=80");
  backdrop-filter: blur(0.5px);
  background-size: cover;
}

.container-card {
  background-color: rgba(255, 255, 255, 0.932);
  opacity: 1;
  box-shadow: 0 0 15px rgba(43, 1, 1, 0.062);


}

.review-body {
  background-image: linear-gradient(36deg, rgba(91,137,166,0.9) 5%, rgba(140,3,28,0.48923319327731096) 90%), url("https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80");
  backdrop-filter: blur(0.5px);
  background-size: cover;
}


.form-event-bg {
  background-image: linear-gradient(36deg, rgba(91,137,166,0.9) 5%, rgba(140,3,28,0.48923319327731096) 90%), image-url("agenda.png");
  backdrop-filter: blur(0.5px);
  background-size: cover;
}

// linear-gradient(36deg, rgba(91,137,166,1) 0%, rgba(140,3,28,0.48923319327731096) 70%)
 // background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");



.invite-body {
  background-image: linear-gradient(36deg, rgba(91,137,166,0.9) 5%, rgba(140,3,28,0.48923319327731096) 90%), url("https://images.unsplash.com/photo-1519214605650-76a613ee3245?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80");
  backdrop-filter: blur(0.5px);
  background-size: cover;
}
