.btn-blue {
  color: white;
  // border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 45px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: $bx-blue;
}

.btn-blue:hover {
  opacity: 1;
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.btn-red{
  color: white;
  padding: 8px 24px;
  border-radius: 45px;
  background: $bx-dark-red;
  font-weight: lighter;

}

.btn-red:hover {
  background: $bx-red;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
