.change-mood .form-check label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 180px;
  height: 150px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  filter: saturate(80%) contrast(75%) brightness(90%);
  z-index: 1;
}

#changeMoodModal .change-mood .event_theme {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
}
@include media-breakpoint-up(lg) {
  #changeMoodModal .change-mood .event_theme {
    flex-direction: row;
  }
}
.change-mood [for=event_theme_fancy] {
  background-image: image-url("fancy.png");
}
.change-mood [for=event_theme_cozy] {
  background-image: image-url("cozy3.png");
}
.change-mood [for=event_theme_wild] {
  background-image: image-url("wild2.png");
}
.change-mood [for=event_theme_nature] {
  background-image: image-url("breath.png");
}

.change-mood [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.change-mood [type=radio]:checked + label {
  outline: 1.8px solid black;
  transform: scale(1.1);
  filter: saturate(100%) contrast(100%) brightness(100%);
  z-index: 2;
}

.change-mood .form-check {
  margin-right: 0;
  margin-bottom: 10px;
}
@include media-breakpoint-up(lg) {
  .change-mood .form-check {
    margin-bottom: 0;
  }
}