.form-event-bg {
  background-image: linear-gradient(
      36deg,
      rgba(91, 137, 166, 0.9) 5%,
      rgba(140, 3, 28, 0.48923319327731096) 90%
    ),
    url("https://images.unsplash.com/photo-1531686264889-56fdcabd163f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  backdrop-filter: blur(0.5px);
  background-size: cover;
  width: 100%;
}

.form-event-container {
  background-color: rgba(255, 255, 255, 0.85);
  margin: 20px 40px;
  padding: 15px;
}
@media only screen and (min-width: 800px) {
  .form-event-container {
    width: 100%;
  }
}

.form-event {
  width: 100%;
  margin: 0 auto;
}

.form-event .row {
  padding-bottom: 10px;
}

.form-event .form-check label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 80px;
  height: 150px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  filter: saturate(90%) contrast(90%) brightness(95%);
  z-index: 1;
}

.form-event .form-check-inline {
  flex-grow: 1;
}

.event_gender .form-check label {
  // width: 150px;
  flex-grow: 1;
}
.event_theme .form-check label {
  // width: 130px;
  flex-grow: 1;
}

.form-event [for="event_theme_fancy"] {
  background-image: image-url("fancy.png");
}
.form-event [for="event_theme_cozy"] {
  background-image: image-url("cozy3.png");
}
.form-event [for="event_theme_wild"] {
  background-image: image-url("wild2.png");
}
.form-event [for="event_theme_nature"] {
  background-image: image-url("breath.png");
}

.form-event [for="event_gender_women"] {
  background-image: url("https://i.pinimg.com/564x/c2/d5/6a/c2d56aa943b1d0bf08a5af9c17ed6fdc.jpg");
}
.form-event [for="event_gender_men"] {
  background-image: url("https://i.pinimg.com/474x/d6/40/aa/d640aa111128811b7f494d3dc5d58d4c.jpg");
}
.form-event [for="event_gender_mixed"] {
  background-image: image-url("mixed.png");
}

.form-event [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-event [type=radio]:checked + label {
  outline: 1.8px solid black;
  transform: scale(1.18);
  filter: saturate(100%) contrast(100%) brightness(100%);
  z-index: 2;
}

.form-event ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: italic;
}
.form-event ::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
.form-event :-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic;
}
.form-event :-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}
