.hotel-card {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 10px;
  max-width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding-top: 15px;
  font-family: "Playfair Display", serif;
}

.hotel-card > img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.hotel-card-infos h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0 10px 0;
  font-family: "Poppins", sans-serif;
  color: $bx-blue;
}

.hotel-card h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

.hotel-card p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  opacity: 0.7;
  text-align: left;
  margin: 10px;
}

.hotel-price {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  opacity: 0.7;
  text-align: right;
  margin: 10px;
  // position: absolute;
  // bottom: -30px;
  // right: 810px;
}

.hotel-price p {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: right;
  font-style: italic;
  opacity: 0.7;
}

#per-night {
  font-size: 8px;
  margin: 0;
}
// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .hotels-trip {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .hotels-trip {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .hotels-trip {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards-trip {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards-trip {
//     grid-template-columns: 1fr 1fr;
//   }
// }
