.main-container {
  // min-height: 100vh; /* will cover the 100% of viewport */
  // overflow: hidden;
  // display: block;
  // position: relative;
  // padding-bottom: 100px;
  padding: 20px 150px;
  margin: 0 auto; /* height of your footer */
  min-height: 80vh;
  align-items: center; //new
  display: flex; //new
}
@media only screen and (max-width: 600px) {
  .main-container {
    padding: 20px 10px;

  }
}


html,
body {
  // height: 100%;
  // position: relative;
  padding: 0px;
}
