.navbar {
  display: flex;
  align-items: center;
  height: 85px;
  position: relative;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 125px;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 625px;
}

.bnt-actioncall-navbar {
  padding-right: 20px;
}

.navbar-lewagon .navbar-brand-2 img {
  width: 40px;
  justify-content: left;
}

.navbar-2 {
  display: flex;
  align-items: center;
  height: 55px;
  position: relative;
}
