// new code ________________________________

.navbar-logo {
  display: flex;
  height: 85px;
  justify-content: center;
}

.nav-left {
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
}

// old code ________________________________
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo .navbar-brand img {
  width: 125px;
}

.bnt-actioncall-navbar {
  padding-right: 20px;
}

.navbar-lewagon .navbar-brand-2 img {
  width: 40px;
  justify-content: left;
}

.navbar-2 {
  display: flex;
  align-items: center;
  height: 55px;
  position: relative;
}

// .toggle-menus-lines {
//   display: block;
//   position: absolute;
//   top: 50%;
//   right: 7px;
//   margin: -12px 0 0;
//   width: 34px;
//   height: 24px;
//   transition: 0.5s ease-in-out;
// }
