// MIXINS
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// UI KIT CSS
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 85px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 125px;
  @include centerer;
  // margin: 10px;
}

// OUR CSS
.nav-item {
  text-align: right;
}

.avatar-navbar {
  margin: 5px 0px 10px 15px;
}

.navbar-lewagon .navbar-brand-2 img {
  width: 40px;
  justify-content: left;
}

.navbar-login-btn {
  margin: 12px 0px 10px 15px;
}

.dropdown-menu-right {
  // width: 50%;
  text-align: right;
}
