.event-summary {
  // text-align: center;
  // background-color: $bx-beige;
  width: 50vw;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid $bx-beige;
}

.event-summary i {
  color: $bx-beige;
}

.event-summary p {
  margin-bottom: 5px;
}